@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
--Very_Dark_Magenta: hsl(300, 43%, 22%);
--Soft_Pink: hsl(333, 80%, 67%);
--Dark_Grayish_Magenta: hsl(303, 10%, 53%);
--Light_Grayish_Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

body{
    font-size: 15px;
    font-family: "League Spartan",sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300PX;
    background-color: white;
    
}

.container{
    width: 800px;
    height: auto;
    background-color:white;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto;
    /* padding: 50PX; */
    /* justify-content: center;
    align-items: center; */
    
}

.destars{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    height: auto;
    background-color:white;
    padding-bottom: 20px;
}

.description{
    width: 50%;
    height: 50%;

}
.description h1{
    color: var(--Very_Dark_Magenta);
    font-size: 45px;
    
}
.description p{
    color: var(--Dark_Grayish_Magenta);
    font-size: 15px;
}
.stars{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:normal;
    padding-left: 20px;
    
    

}
.stars .s1 ,.s2,.s3{
    background-color: var(--Light_Grayish_Magenta);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.stars .s1 p,.s2 p,.s3 p{
    color: var(--Very_Dark_Magenta);
    font-weight:bolder;
    font-size: 20px;
    margin-left: 15px;
}
.s1 {
    margin-right: 20px;
    position: relative;
    left: -60px;
    
    
}
.s2{
    margin-right: 30px;
    position: relative;
    left: -30px;
}
.s3 {
    margin-right:10px;
    position: relative;
    /* right:-35px */
    
}

.namecards{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nc1,.nc2,.nc3{
    background-color: var(--Very_Dark_Magenta);
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;

}
.namecards img{
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.tag{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.name{
    /* padding-left: 10px; */
    color: white;
    font-weight: 500;
}
.vb{
    color: var(--Soft_Pink);
    margin-top: -10px;
}
.ns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 10px;
    margin-top: -10px;
}

.nc1 .about,.nc2 .about,.nc3 .about{
    color:white;
    font-weight: 200;
    margin-top: -1px;
} 

.nc2{
    position: relative;
    bottom:-20px ;
}
.nc3{
    position: relative;
    bottom:-40px ;
}


